{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div id="id_post_time" style="display:none">{{ listing.post_time|date:"c" }}</div>
<div id="id_expire_time" style="display:none">{{ listing.expire_time|date:"c" }}</div>
{% include "auctions/path_bar.html" %}
<div class="card">
    <div class="row no-gutters">
        <div class="col-4">
          <img src="{{ listing.image_url }}" class="card-img" alt="Image not found" onerror="this.onerror=null; this.src='{{ image_placeholder_url }}';">
        </div>
        <div class="col-4">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <small class="card-subtitle mb-2 text-muted">
                    <span>posted by <a href="#">{{ listing.user }}</a></span>
                    <span id="id_post_time_diff"></span>
                    <span class="badge badge-secondary">{{ listing.status }}</span>
                </small>
                <p class="card-text">
                    {{ listing.description }}
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                {% if listing.high_bid.0 %}
                    <p class="card-text">Highest bid: ${{ listing.high_bid.0.value }} by {{ listing.high_bid.0.user }}</p>
                {% else %}
                    <p class="card-text">Starting bid: ${{ listing.starting_bid }}</p>
                {% endif %}

                <form class="form-inline" id="id_bid_watch_form" action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if listing.is_owner %}
                    <input type="hidden" id="id_value">
                        {% if listing.status == "Open" %}
                            <button type="button" class="btn btn-outline-primary" onclick="return non_bid_button();">Close Listing</button>
                        {% endif %}
                    {% else %}
                        <div class="form-group mb-2">
                            ${{ form.value }}
                        <button type="button" class="btn btn-outline-primary mx-1" onclick="return bid_button();">Bid</button>
                        </div>
                        <button type="button" class="btn btn-outline-primary mx-2" onclick="return non_bid_button();">
                        {% if listing.watch.0.user == request.user %}
                            Remove from Watchlist
                        {% else %}
                            Add to Watchlist
                        {% endif %}
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'auctions/auctions.js' %}"></script>
{% endblock %}